@media screen and (max-width: 550px)and (min-width: 350px) {
    body{
        width: 90%;
        /* background-color: red; */
    }
    #content{
        background-color: rgba(215, 223, 102, 0.63);
        padding-top: 10px;
        border-radius: 20px;
    }
    .container-fluid{
        padding: 0;
    }    
    .logo{
        margin: 0;
    }
    .firstGrid{
        margin-top: 5% ;
        gap: 2%;
        width: 95%;
    }
    #leftGrid{
        /* width: 90%; */
        text-align: left;
    }
    #rightGrid{
    }
    .firstPar{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10%;
        color: black;
    }
    .secondPar{
        font-size: 8px;
        margin-bottom: 10%;
        font-weight:bold ;
    }
    .orderBut{
        font-weight: bold;
        padding: 3% 4%;
        font-size: 7px;
        margin-left: 0;
        margin-right: 1%;
    }
    #vidText{    
        font-weight: bold; 
        font-size: 6px;
        margin-left: 2%;
        margin-right: 1%;   
    }
    .playIcon{          
        padding: 0px;
        margin:2px;
        width: 16px;
        display: flex;
    }
    .bi2{
        height: 10px;
    }
    #leftButtons{
        display: flex;
        margin: 0px ;
    }
    #rightImage{
        position: relative;
        margin: auto auto;
        text-align: center;
        width: 200px;
        height: 200px;
        left: 25px;
    }
    #backgroundWomanImage{   
        position: relative;
        width: 130px;
        height: 130px;
        margin: 0;
        right: 0px;
        top: 0px;
        margin: auto auto;
        z-index: 0;
    }
    #womanImage{
        position: absolute;
        width: 140px;
        height: 152px;
        margin: 0;
        top: -24px;
        left: 24px;
        margin: auto auto;
    }
    #cloudImage{
        position: relative;
        width: 100px;
        height: 45px;
        margin: 0px;
        top: -135px;
        left: -67px;        
        margin: auto auto;
        z-index: 1;
    }
    .rightGridButton{
        position: relative;
        padding: 0;
        gap: 8px;
        top: -40px;
        left: 5px;
    }
    .rightGridButtonContent{
        display: grid;
        grid-template-columns: auto auto;
        gap: 3%;
        padding: 4px;
        margin:0%;
        width: 90px;
        height: 45px;
        border-radius: 8px;
        box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.145), 0 2px 4px -1px rgba(0, 0, 0, 0.123);
    }
    .firstFoodImageContainer{
        margin: auto auto;
    }
    .firstFoodImageContainer{
        margin: auto 0;
    }
    .firstFoodImage{
        width: 30px;
        height: 34px;
    }
    .foodName{
        font-size:6px; 
    }  
    .stars{
        margin: 0;
        padding: 0;
        margin-top: -10px;
    }  
    .fa-star::before{
        font-size: 5px;
    }
    .checked {
        color: gold; 
        width: 3%;
        height: 0%;  
        margin: 0;
        padding: 0;      
    }  
    .notChecked {
        color: gray; 
        width: 0px;
        height: 0px;  
        margin: 0;
        padding: 0; 

    } 
    .dolar{
        color: red; 
        margin: 0  ;
        font-size: 8px;
        margin: 0 0;
    }
    .price{
        font-weight: bold;
        font-size: 8px;
        color: rgba(0, 0, 0, 0.658);
    }
/* ****************************second page media ***************/
    #customerFavorites{
        color: #FF6868; 
        font-size: 15px; 
        font-weight: bold; 
        font-family:'Courier New',Courier, monospace ;
        margin: 0;
    }
    #popularCatagories{
        font-weight: bold;
        color: black; 
        font-size: 25px;
    }
    #secondPage{
        margin: 8% auto;    
        text-align: center;
    }
    #secondGrid{
        grid-template-columns: auto auto;
        gap: 3.5%;    
    }
    .secondGridButton{
        background-color: white;
        width: 120px;
        /* height: 100px; */
        padding: 0px 0px;
        border-radius: 25px;
        box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.145), 0 2px 4px -1px rgba(0, 0, 0, 0.123);
        margin-left: auto;
        margin-right: auto;
    }
    .buttonImageAndBackground  {
        margin-top: 10px;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 39%;        
    }
    .buttonBackground{
        position: absolute;
        border-radius: 50%;
        width: 55px;
        z-index: 0;  
        margin: 0;
        align-self: center;
        
    }
    #img1{
        position: relative;
        width: 50px;
        height: 40px;
        top: 8px;
        left: 0px;        
        margin: 0;
        z-index: 1; 
    }
    #img2{
        position: relative;
        width: 50px;
        height: 30px;
        top: 8px;
        left: 3px;        
        margin: 0;
        z-index: 1; 
    }
    #img3{
        position: relative;
        width: 50px;
        height: 50px;
        top: 0px;
        left: 0px;        
        margin: 0;
        z-index: 1;
    }
    #img4{
        position: relative;
        width: 40px;
        height: 40px;
        top: 5px;
        left: 5px;        
        margin: 0;
        z-index: 1;
    }
    .foodName2{
        font-size:10px; 
        font-weight: bold;
    }
    .catagoriesNum{
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 11px; 
        color: rgba(0, 0, 0, 0.749);
    }
    /***************************Third grid***********************************/

    #thirdPageGridTopParagraphAndArrows{
        display: ruby-text;
    }
    .standoutDishes{
        font-weight: bold;
        color: black; 
        font-size: 45px;
        text-align: left;
        
    }
    #thirdPageGridTopArrows{
        display: flex;
        
    }
    #leftArrow{
        padding: 18px;
        border-radius: 50%;
        margin: 0 35px;
        border: none;
        background-color: rgba(160, 159, 159, 0.304);
    }
    #rightArrow{
        padding: 18px;
        border-radius: 50%;
        border: none;
        background-color:#39DB4A;
    }
    #thirdPageGridButtons{
        display: grid;
        grid-template-columns: auto   ;
        gap: 10px;
        margin: 10% auto;
        border: none;
        border-radius: 25px;
    }
    .itemButton{
        display: grid;
        grid-template-rows: auto auto auto;
        
        margin: auto auto;
        padding-top: 0;
        padding-bottom: 10px;
        width: 220px;
        padding-left: 20px;
        padding-right: 20px;
        border: none; 
        border-radius: 25px;
        color: black;
        background-color: white;
        box-shadow: 0 4px 20px 8px rgba(0, 0, 0, 0.145), 0 2px 4px -1px rgba(0, 0, 0, 0.123);
    }
    .favoriteButton{
        position: relative;
        background-color:#39DB4A ;
        padding: 5%;
        border-radius: 0px 20px;
        text-align: center;
        width: 40px;
        height: 35px;
        left: 90px;
        z-index: 1;
    }
    .check::before{
        font-size: 15px;
    }
    .fa-heart{
        color:white;
        font-size: 12px;
    }
    .thirdFoodImageContainer{
        background-color: white;
        border: none;
        border-radius: 25px;
        position: relative;
        bottom: 25px;
        height: 180px;
    }
    .foodImage2{
        width: 130px;
        height: 130px;
        margin-bottom: 10px;
    }
    .foodName3{
        text-align: left;
        font-size: 15px;
        font-weight: bold;
    }
    .foodName4{
        text-align: left;
        font-size: 13px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.533);
    }
    .dolar2{
        color: red; 
        font-size: 12px;
        font-weight: bold;
        margin: 0  ;
        text-align: left;
    }
    .price2{
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        color: rgba(0, 0, 0, 0.658);
    }
    .ratingNumber{
        font-size: 12px;
        text-align: right;

    }
    .footerFavoriteButton{
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
    }




}
    

 