#addForm{
    border: 1px solid black;
    margin: 20px ;
    padding: 10px;
    background-color: rgb(230, 228, 217);
    border-radius: 25px;
}
#addCard{
    display: grid;
    grid-template-columns: auto auto auto;
}
#profileContainer{
    text-align: left;
    background-color: rgb(230, 228, 217);
    padding: 20px;
    width: 50%;
    border-radius: 20px;
}
label{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.formButton{
    padding: 1%; 
    border-radius:15px; 
    color: white;
    background-color: rgb(121, 104, 104) ;
    font-size: x-large;
    font-weight: bold;
}
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-text {
    margin-bottom: 10px;
}

.card-details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}
.card-button {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.card-button:hover {
    background-color: #45a049;
}

.card-button.delete {
    background-color: #f44336;
}

.card-button.delete:hover {
    background-color: #d32f2f;
}
#increment, #decrement {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#increment:hover, #decrement:hover {
    background-color: #45a049;
}
