* {
    padding: 0;
    margin: auto auto   ;
    box-sizing: border-box;
}
body{    
    width: 80%;
    margin: auto auto ;
    background-color: rgba(214, 216, 222, 0.121);
}
/* ****************navBar********************** */
#navBar{
    margin-left: auto;
    margin-right: auto;
}
.profile{
    display: inline-flex;
}
.logo{
    display: flex;
    text-decoration: none;   
}
.logo #F{    
    text-decoration: none;
    background-color: #39DB4A; 
    border-radius: 7px;
    padding: 5%;
    margin-right: 3%;    
}
.logo #oodi{
    text-decoration: none;    
    margin: auto auto;
}
.collapse .nav-link{
    font-weight: 700;    
}
/* .collapse a:focus {
    background-color: #39DB4A;
    color: white;
} */
.dropdown-toggle::after{
    color: #39DB4A;
}
#navbarScroll{
    margin-left: 10%;
}
#searchIcon ,#bagIcon{
    margin: auto auto;
    padding: 15px;
    color: black;
}
.d-flex {
    display: flex;
    margin: auto auto;
}
#searchIcon:hover , #bagIcon:hover{
    transform: translateY(-2px);
}
.contactBut{
    color: white;
    font-weight: bold;
    background-color: #39DB4A;
    border: 1px solid transparent;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    margin: auto auto;
    padding: 3% 11%;
}
.contactBut:hover{
    color: green;
}
.navbar-brand{
    background-color: transparent;
}
.nav-item{
    padding: 20px;
}
.btn-outline-success{
    /* padding: 0 30% ; */
    border-radius: 20%;
    background-color: #39DB4A;
    color: white;
}
/***************************first grid***********************************/
.firstGrid{
    /* width: 90%; */
    margin-top: 10% ;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10%;   
}
#content{
    padding-bottom: 5%;
    padding-top: 1%;
}
#leftGrid{
    margin-top: 1%  ;
}
#rightGrid{
    margin-top: 5% ;
}
#leftButtons{
    display: flex;
    /* margin: 0px ; */
}
#backgroundWomanImage{    
    position: absolute;
    width: 448.7px;
    height: 408.97px;  
    margin-left: 100px ;
    background-color: #39DB4A;
    border-radius: 50%;    
}
#cloudImage{
    position:absolute ;       
    width: 281px;
    height: 134px;
    margin-left: -39px;
    
}
#womanImage{
    position:relative;       
    width: 460px;
    height: 512.28px;
    /* width: 50; */
    top: -99px;
    left: -19px;
    margin-left: 100px ;
}
.firstPar{
    font-size: 300%;
    font-weight: bold;
    margin-bottom: 10%;
    color: black;
}
.secondPar{
    font-size: 110%;
    margin-bottom: 10%;
    font-weight:500 ;
    color: rgba(0, 0, 0, 0.741);
}
.orderBut{
    color: white;
    font-weight: bold;
    background-color: #39DB4A;
    padding: 3% 8%;
    border: 1px solid transparent;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    margin-left: 0;
    margin-right: 2px;
    box-shadow: 0px 10px 11px rgba(145, 145, 235, 0.405);
}
.orderBut:hover{
    color: green;
}
#vidText{    
    font-weight: bold; 
    text-decoration: none; 
    text-align: center;
    color: rgba(0, 0, 0, 0.714); 
    margin-left: 5%;
    margin-right: 2%;   
}
.playIcon{    
    border: 0;
    padding: 2.2%;
    /* text-align: center; */
    border-radius: 50%;
    background-color: white;
    color: rgba(0, 0, 0, 0.825);
    box-shadow: 0px 12px 20px 2px rgba(0, 0, 0, 0.17);
}
.rightGridButton{
    position: relative;
    /* display: grid; */
    /* grid-template-columns: auto auto ; */
    gap: 5%;
    display: flex;
    margin-top: -25%;
    margin-left: 5%;
}
.rightGridButtonContent{
    display: grid;
    grid-template-columns: auto auto ;
    gap: 5%;
    background-color: white;
    border: 1px solid white;
    padding: 8px;
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 4px 16px 16px rgba(0, 0, 0, 0.145), 0 2px 4px -1px rgba(0, 0, 0, 0.123);
}
.firstFoodImageContainer{
    margin: auto auto;
}

.firstFoodImage{
    width: 70px;
    /* height: 70px; */
    border-radius: 8px; 
    /* margin: 1%;   */
    margin: 0;
}
.fa{
    width: 15px;

}
.checked {
    color: gold;
    
}
.dolar{
    color: red; 
    margin: 0  ;
}
.price{
    font-weight: bold;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.658);
}
.foodName{
    font-weight: bold;
    margin: 0;    
}
/***************************second grid***********************************/
#secondPage{
    margin: 10% auto;    
    text-align: center;
}

#secondGrid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3%;    
}
.secondGridButton{
    display: grid;
    background-color: white;
    grid-template-rows: auto auto auto ;
    width: 100%;
    height: 100%;
    padding: 20px 45px;
    border: 1px solid white;
    border-radius: 25px;
    box-shadow: 0 4px 20px 8px rgba(0, 0, 0, 0.145), 0 2px 4px -1px rgba(0, 0, 0, 0.123);
}
.buttonImageAndBackground{
    position: relative;
    margin-bottom:110px ;
}
.buttonBackground{
    background-color: #C1F1C6;
    position: absolute;
    border-radius: 50%;
    width: 100px;
    margin-left: -52px;   
}
#img1{
    position: absolute;
    width: 100px;
    /* height: 90%; */
    place-items: center;
    margin-left: -52px;
    margin-top: 14px;
}
#img2{
    position: absolute;
    width: 71px;
    /* height: 67px; */
    place-items: center;
    margin-left: -38px;
    margin-top: 22px;
}
#img3{
    position: absolute;
    width: 87px;
    /* height: 90%; */
    place-items: center;
    margin-left: -44px;
    margin-top: 14px;
}
#img4{
    position: absolute;
    width: 68px;
    /* height: 90%; */
    place-items: center;
    margin-left: -37px;
    margin-top: 7px;
}
.customerFavorites{
    color: #FF6868; 
    font-size: 20px; 
    font-weight: bold; 
    font-family:'Courier New', 
    Courier, monospace ;
}
.popularCatagories{
    font-weight: bold;
    color: black; 
    font-size: 50px;
}
.foodName2{
    /* font-size:20px;  */
    /* font-weight: bold; */
}
.catagoriesNum{
    margin-bottom: 25px; 
    color: rgba(0, 0, 0, 0.749);
}
/***************************Third grid***********************************/

#thirdPageGridTopParagraphAndArrows{
    display: ruby-text;
}
.standoutDishes{
    font-weight: bold;
    color: black; 
    font-size: 45px;
    text-align: left;
    
}
#thirdPageGridTopArrows{
    display: flex;
    
}
#leftArrow{
    padding: 18px;
    border-radius: 50%;
    margin: 0 35px;
    border: none;
    background-color: rgba(160, 159, 159, 0.304);
}
#rightArrow{
    padding: 18px;
    border-radius: 50%;
    border: none;
    background-color:#39DB4A;
}
#thirdPageGridButtons{
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 10px;
    margin: 10% auto;
    border: none;
    border-radius: 25px;
}
.itemButton{
    display: grid;
    grid-template-rows: auto auto auto;
    
    margin: auto auto;
    padding-top: 0;
    padding-bottom: 10px;
    width: 220px;
    padding-left: 20px;
    padding-right: 20px;
    border: none; 
    border-radius: 25px;
    color: black;
    background-color: white;
    box-shadow: 0 4px 20px 8px rgba(0, 0, 0, 0.145), 0 2px 4px -1px rgba(0, 0, 0, 0.123);
}
.favoriteButton{
    position: relative;
    background-color:#39DB4A ;
    padding: 5%;
    border-radius: 0px 20px;
    text-align: center;
    width: 40px;
    height: 35px;
    left: 90px;
    z-index: 1;
}

.fa-heart{
    color:white;
    font-size: 12px;

}
.thirdFoodImageContainer{
    background-color: white;
    border: none;
    border-radius: 25px;
    position: relative;
    bottom: 25px;
    height: 180px;
}
.foodImage2{
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
}
.foodName3{
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}
.foodName4{
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.533);
}
.dolar2{
    color: red; 
    font-size: 12px;
    font-weight: bold;
    margin: 0  ;
    text-align: left;
}
.price2{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: rgba(0, 0, 0, 0.658);
}
.ratingNumber{
    font-size: 12px;
    text-align: right;

}
.footerFavoriteButton{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}
