#addForm{
    border: 1px solid black;
    margin: 20px ;
    /* text-align: center; */
    padding: 10px;
    background-color: aqua;
    border-radius: 25px;
}
#addCard{
    display: grid;
    grid-template-columns: auto auto auto;
}